:root{
  --light-red: #F05454;
  --navy-blue: #30475E;
  --dark-blue: #2F465D;
  --light-black: #222831;
  --light-gray: #C6C4C4;
}

.header{
  position: relative;
}
.header .image-container{
  position: relative;
}

.header .background-image{
  width: 70%;
  height: auto;
  min-height: 280px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: fill;
  margin-left: 30%;
  
  border-radius: 0 0 0 422px;
  
}

.header .title {
  position: absolute;
  left: 15%;
  top: 37%;
}

.header .title h1{
  font-size: 5vw;
  line-height: 5vw;
  font-family: 'Roboto', sans-serif;
  text-size-adjust: 80%;
  background-color: var(--light-red);
  color: white;
}

.header .title br{
  height: 10px;
}

.header .title h1:last-child{
  display: inline-block;
}